* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
  font-family: "ngs";
  src: url("./fonts/4.woff") format("woff");
}
@font-face {
  font-family: "ngs2";
  src: url("./fonts/3.woff") format("woff");
}
@font-face {
  font-family: "ngs3";
  src: url("./fonts/2.woff") format("woff");
}
@font-face {
  font-family: "ngs4";
  src: url("./fonts/1.woff") format("woff");
}
a, a:visited {
	color: white;
	text-decoration: none;
}
a:hover, a:active {
	color: white;
	text-decoration: none;
	background-color: rgba(113,169,189,0.33);
}
hr {
	border-bottom: 1px solid rgba(128,128,128,0.5);
}
img {
	vertical-align: middle;
}
/*body {
    background-image: url("./icons/d_global_bg_header.png"),url("./icons/gl_main_bg.jpg");
    background-size: 1903px,2560px;
	background-color: #e8ecf4;
    background-repeat: no-repeat,repeat-y;
    background-position: center 40px;
	color: black;
    font-family: ngs,Arial,sans-serif;
	font-size: 11pt;
	font-weight: normal;
	text-align: center;
    -webkit-font-smoothing: antialiased;
}*/
body {
    background-image: url("https://i.imgur.com/3OizLd8.jpg");
	background-color: #e8ecf4;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
	color: black;
    font-family: ngs,Arial,sans-serif;
	font-size: 11pt;
	font-weight: normal;
	text-align: center;
    -webkit-font-smoothing: antialiased;
}
table td {
	vertical-align: top;
}
ul {
	list-style-type: none;
	padding-inline-start: 0;
}
em {
	font-style: normal;
}
#header {
	background-color: white;
	min-height: 50px;
	padding: 20px;
	text-align: left;
	margin-bottom: 20px;
}
#header a {
	color: #151f25;
	text-decoration: none;
}
#header a:hover {
	color: #454f85;
	text-decoration: none;
}
#header div {
	margin: 0 auto;
	width: 80%;
}
#header ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-left: -40px;
	justify-content: flex-end;
}
#header ul li {
	flex: 0 1;
	color: black;
	font-family: "ngs2";
	text-align: center;
	white-space:nowrap;

}
.headermenuitem {
	font-size:14pt;
	margin-left: 40px;
}
.logo {
	margin-right: auto;
	font-weight:bold;
	font-size:20px;
}
.logo img {
	height:28px;
}
@media screen and (min-width:390px) and (max-width:860px) {
.headermenuitem {
	display:none;
}
}
@media screen and (max-width:390px) {
.headermenuitem {
	display:none;
}
}
.main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}
.container {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 200px;
	max-width: 500px;
	margin: 10px;
}
.containerA, .containerC {
	flex-grow: 1;
/*	flex-shrink: 1;
	flex-basis: 200px;*/
	max-width: 360px;
	margin: 10px;
}
.containerB {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 200px;
	max-width: 480px;
	margin: 10px;
}
.box {
	color: #97e2fc;
	background-clip: padding-box;
	background-color: rgba(38,53,63,0.80);
	/*background-color: #151f25;*/
	margin: 10px auto;
	text-align: left;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.66), 1px -1px 0 rgba(0,0,0,0.66), -1px 1px 0 rgba(0,0,0,0.66), 1px 1px 0 rgba(0,0,0,0.66);
	/*min-width: 300px;*/
	/*max-width: 500px;*/
	padding-bottom:10px;
	filter: drop-shadow(0 10px 10px black);
}
/* box hover, save bcuz i will use this in popup menu
.box:hover {
	outline: 1px solid rgba(54,255,255,1);
}
.box:hover .boxTitleBar  {
	background: linear-gradient(45deg, rgba(47,153,193,1),rgba(46,94,137,1) 30%,rgba(46,94,137,1) 70%, rgba(47,153,193,1));
}
*/
.box table {
    border-spacing: 0;
	color: white;
	margin: 10px auto;
	width: 95%;
}
.box tr {
/*	background-image: url("tr_bg.png");*/
	background-repeat: no-repeat;
	background-position: left bottom;
	border-bottom: 1px solid rgba(128,128,128,0.5);
}
.box tr:last-child {
	border-bottom: 0;
}
.box td {
	padding: 0 5px;
	white-space: nowrap;
}
.box td:first-child {
	color: #97e2fc;
}
.box td:last-child {
	text-align: right;
}
.barGraph {
	background: linear-gradient(90deg, #65beef, #f5ee3c);
	display: block;
	height: 8px;
}
.barOverlay {
	border: 2px solid black;
	display: block;
	height: 8px;
}
.statsInfo {
	table-layout:fixed;
	width: 100%;
	line-height: 23px;
}
.statsInfo td:nth-child(2) {
	text-align: right;
}
.statsInfo td:nth-child(3) {
	width: 50%;
}
.statsInfo span {

}
.boxTitleBar {
	/* background-color: #495a61; */
	background-color: rgba(128,128,128,0.50);
	color: white;
	font-weight: normal;
	font-size: 13pt;
	text-align: left;
	white-space: nowrap;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

}
.boxTitleBar h1 {
	/* background-color: #495a61; */
	color: white;
	font-weight: normal;
	font-size: 13pt;
    overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 10px;
	padding: 13px 13px 7px 13px;
}
.boxTitleBar h1:before {
	content: ' \25C6';
	margin-right: 10px;
}
.box h2 {
	color: white;
	font-weight: normal;
	font-size: 18px;
	margin: 10px 10px 0 10px;
	text-align: left;
}
.box h2 img {
	margin-right: 5px;
	vertical-align: top;
}
.box h2:hover {
	background: linear-gradient(45deg,rgba(76,113,126,0.66),rgba(113,169,189,00.66));
}
.da {
	color: white;
	text-align: right;
}
.da span {
	background-color: rgba(20,29,40,0.66);
	padding: 5px;
}
.da span:hover {
	background: linear-gradient(45deg,rgba(76,113,126,0.66),rgba(113,169,189,00.66));
}
.basicInfo {
	table-layout:fixed;
	width: 100%;
	line-height: 23px;
}
.basicInfo td:nth-child(2) {

}
.basicInfo td:nth-child(3) {
	width: 33%;
}
/*.basicInfo tr:hover {
	background: linear-gradient(45deg,rgba(76,113,126,0.66),rgba(113,169,189,00.66));	
}*/
.infoBuffs {
	margin: 0 auto;
	width: 90%;
}
.infoBuffs:last-child {
	margin-bottom: 10px;
}
.infobuffs li {
	margin: 5px 0;
}
.infoBuffs li:hover {
	background: linear-gradient(45deg,rgba(76,113,126,0.66),rgba(113,169,189,00.66));
}
.infoBuffs li ul {
	width: 100%;
}
.infoBuffs li ul li {
	width: 100%;
	padding-left: 20px;
}
.infoBuffs li ul li:hover {
	background: transparent;	
}
.box p {
	padding: 10px 10px 0 10px;
	color: white;
}
.box h3 {
/*	background-image: url("tr_bg.png");
	background-repeat: no-repeat;
	background-position: left bottom;*/
	font-size: 12pt;
	font-weight: normal;
	padding: 0 5px;
	margin: 5px;
	border-bottom: 1px solid rgba(128,128,128,0.5);
}
.equipPalette {
	margin: 10px 10px 0 10px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	white-space: nowrap;

}
.equipPaletteSlotWrapper {
	background-color: rgba(128,128,128,0.50);
	padding: 10px;
}
.equipPaletteSlotWrapper span {
	margin: 0 10px 0 0;
	color: rgb(255,207,4);
	font-size: 14pt;
    font-family: ngs2,Arial,sans-serif;
}
.equipPaletteSlotWrapper img {
	height: 48px;
}
.equipPaletteSlot {
	text-align: center;
	flex: 1 1;
}
.equipPaletteSlot:first-child {
	padding-right: 10px;
}
.equipPaletteSlot:hover img {
	outline: 2px solid rgba(54,255,255,0.66);
}
.equipPalette h3 {
	color: #97e2fc;
	font-size: 16px;
	font-weight: normal;
	white-space: nowrap;
}
.equipDetails {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.equipDetails {
	margin: 10px 10px 0 0;
	text-align: left;
}
.equipAugs {
	flex: 1 1 auto;	
}
.equipAugs ul {
	position: relative;
}
.equipAugs li {
	background-color: rgba(128,128,128,0.50);
	color: white;
	margin: 0 0 5px 10px;
	padding: 12px 10px 7px 10px;
}
.equipAugs li:hover {
	background: linear-gradient(45deg,rgba(76,113,126,0.66),rgba(113,169,189,00.66));
	outline: 2px solid hsl(180, 78%, 50%);
}
.equipAugsExpand {
	margin: 0 10px 0 0;
	display: inline;
}
.tooltip {
	cursor: help;
}
.tooltip span {
	color: white;
	font-size:10pt;
	visibility: hidden;
	width: 200px;
	background-color: rgba(38,53,63,0.9);
	text-align: left;
	/*border-radius: 6px;*/
	padding: 5px;
	/* Position the tooltip */
	position: absolute;
	white-space: normal;
	left: 1em;
}
.xTooltip {
	margin: 0 10px 0 0;
	display: inline;
	cursor: help;
}
[class*="BaseToolTop"] {
	min-width: 200px;
}
.tooltip:hover span {
	visibility: visible;
}
.pr {
	flex: 1 1 auto;
	margin: 10px 10px 0 0;
	text-align: left;	
}
.pr li {
	margin: 0 10px 2px 10px;
	padding: 5px;
}
.pr li span {
	color:white
}
/*.pr li:hover {
	background: linear-gradient(45deg,rgba(76,113,126,0.66),rgba(113,169,189,00.66));
}*/
.ye {
	color: #ffb74c;
}
.itemlist {
	margin: 0 10px;
	position: relative;
}
.itemlist li {
	background-color: rgba(128,128,128,0.33);
	color: white;
	margin: 0 0 5px 0;
	padding: 10px;
    background-repeat: no-repeat;
    background-position: right top;
	background-origin: content-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.aug:before {
	content:url("./icons/UINGSItemSpecialAbility.png");
	margin-right: 5px;
	vertical-align: middle;
}
.itemwep {
	font-size: 10pt;
}
.itemwep em {
	font-size: 12pt;
	line-height: 28px;	
}
.itemwep:after {
	clear:both;
}
.rifle:before {
    content: url("./icons/NGSUIItemAssaultRifleMini.png");
	margin-right: 5px;
	vertical-align: middle;
}
.gb:before {
    content: url("./icons/NGSUIItemGunbladeMini.png");
	margin-right: 5px;
	vertical-align: middle;
}
.vege:before {
    content: url("./icons/food/vege.png");
	margin-right: 5px;
	vertical-align: middle;
}
.itemimg {
	background: radial-gradient(rgb(196,196,196),rgb(128,128,128));
	border: 4px solid rgba(128,128,128,1);
	float: left;
	margin-right: 10px;
	width: 48px;
	box-sizing: content-box;
}
li.r1 {
    background-image: url("./icons/NGSUIRarity1Star.png");
}
.r1 img  {
	background: radial-gradient(rgb(64,150,183),rgb(52,123,150));
}
li.r2 {
    background-image: url("./icons/NGSUIRarity2Star.png");
}
.r2 img  {
	background: radial-gradient(rgb(64,150,183),rgb(52,123,150));
}
li.r3 {
    background-image: url("./icons/NGSUIRarity3Star.png");
}
.r3 img  {
	background: radial-gradient(rgb(64,150,183),rgb(52,123,150));
}
li.r4 {
    background-image: url("./icons/NGSUIRarity4Star.png");
}
.r4 img  {
	background: radial-gradient(rgb(101,178,77),rgb(83,146,63));
}
.equipPaletteSlotWrapper img.r1  {
	background: radial-gradient(rgb(64,150,183),rgb(52,123,150));
	border: 1px solid rgb(64,150,183);
}
.equipPaletteSlotWrapper img.r2  {
	background: radial-gradient(rgb(64,150,183),rgb(52,123,150));
	border: 1px solid rgb(64,150,183);
}
.equipPaletteSlotWrapper img.r3  {
	background: radial-gradient(rgb(64,150,183),rgb(52,123,150));
	border: 1px solid rgb(64,150,183);
}
.equipPaletteSlotWrapper img.r4  {
	background: radial-gradient(rgb(101,178,77),rgb(83,146,63));
	border: 1px solid rgb(101,178,77);
}
.itemlist li span {
    background-repeat: no-repeat;
    background-position: left center;
	margin-right: 10px;
}
.atk:before {
	content: url("./icons/NGSUIStatATKOutline.png");
	margin-right: 5px;
	vertical-align: middle;
}
.fixa {
	color: rgb(255,135,80);
}
.fixa:before {
	content: url("./icons/UINGSItemPresetAbility.png");
	margin-right: 5px;
	vertical-align: middle;
}
.pot {
	color: rgb(255,255,0);
}
.pot:before {
	content: url("./icons/NGSUIItemPotentialAbility.png");
	margin-right: 5px;
	vertical-align: middle;
}
.clear {
	clear: both;
}
.itemlistcontainer {
/*	max-height: 400px;*/
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 10px 5px 0 0;
	padding: 2px;
}/*
@media screen and (min-width:390px) and (max-width:860px) {
.itemlistcontainer {
	max-height: 300px;
}
}*/
.itemlist li:hover, .treeList li:hover {
	background-color: rgba(113,169,189,0.33);
	outline: 2px solid rgba(54,255,255,0.66);
}
.boxmenu {
	font-size: 10pt;
	margin: 0 10px 0 10px;
	justify-content: flex-start;
	display: flex;
	flex-flow: row nowrap;
}
.boxmenu li {
	background-color: rgba(245, 245, 245,0.66);
	color: white;
	display: inline-block;
	margin: 10px 5px 0 0;
	padding: 5px;
	text-align: center;
	flex-basis: 27px;
	white-space: nowrap;
	cursor: pointer;
}
.boxmenu img {
	vertical-align: middle;
}
.selected {
	background: linear-gradient(135deg,#60461b,#b0a34e);
	border-bottom: 4px solid #ffd602;
}
.unselected:hover {
	background: linear-gradient(45deg,rgba(76,113,126,0.66),rgba(113,169,189,00.66));
	border-bottom: 0;
	padding-bottom: 9px;
	outline: 2px solid hsl(180, 78%, 50%);
}
li.selected:hover {
	background: linear-gradient(135deg,#60461b,#b0a34e);
	outline: 2px solid hsl(180, 78%, 50%);
}
.itemBar {
	justify-content: center;
	display: flex;
	flex-flow: row nowrap;
	margin: 10px 10px 0 10px;
	padding: 0 2px;
}
.itemBarSort, .itemBarFilter {
	flex: 1 1 100px;
	margin-right: 10px;
}
input {
	background-color: #101317;
	color: white;
	font-family: ngs,sans-serif;
	font-size: 11pt;
	height: 28px;
	padding: 0 5px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.66), 1px -1px 0 rgba(0,0,0,0.66), -1px 1px 0 rgba(0,0,0,0.66), 1px 1px 0 rgba(0,0,0,0.66);
}
input:hover {
	outline: 2px solid #30cdef;
}
select{
	background-color: rgba(128,128,128,0.5);
	color: white;
    font-family: ngs,sans-serif;
	font-size: 11pt;
	height: 28px;
	padding: 5px 10px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.66), 1px -1px 0 rgba(0,0,0,0.66), -1px 1px 0 rgba(0,0,0,0.66), 1px 1px 0 rgba(0,0,0,0.66);
}
select.itemBarForm, input.itemBarForm {
	width: 100%;
}
option {
	background-color: rgb(128,128,128);
}
.boxExit {
	padding: 9px 9px 3px 9px;
	margin: 4px;
}
.boxExit:hover {
	background-color: hsl(0, 100%, 33%);
	outline: 2px solid hsl(0, 100%, 50%);
}
.boxExit:after {
    content: ' \2573';
	font-size:9pt;
}
/*.itembox:hover {
	border: 1px solid #36ffff;
}*/
.exit {
	color: white;
}
/* width */
.customScrollbar::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
/* Track */
.customScrollbar::-webkit-scrollbar-track {
  background: rgba(128,128,128,0.8); 
}
 
/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(245, 245, 245,0.66);
}
.customScrollbar::-webkit-scrollbar-button {
	background-color: rgba(162,162,162,0.8); 
	height:4px;
	width:4px;
}
.customScrollbar::-webkit-scrollbar-corner  {
	background-color: transparent;
}
/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/
.containerX {
	margin: 10px;
	min-width: 0;
}
.containerY {
	margin: 10px;
	min-width: 0;
}
.treeListContainer {
	overflow-y: auto;
	margin: 10px 10px 0 10px;
}
.treeSelectBox {
	min-width: 150px;
}
.treeList {
	padding: 0 2px;
}
.treelist li {
	background-color: rgba(128,128,128,0.33);
	color: white;
	margin: 5px 0 0 0;
	padding: 10px;
    background-repeat: no-repeat;
    background-position: right center;
	background-origin: content-box;
}
li.treeListMain {
	background-image: url("./icons/class_main.png");
}
li.treeListSub {
	background-image: url("./icons/class_sub.png");
}
.treeList li img {
	vertical-align: middle;
	margin-right: 5px;
}
.skillTreeBox {
	max-width: 1108px;
}
.skillTreeContainer {
	max-height: 400px;
	overflow-y: scroll;
	margin: 10px 5px 0 10px;
	padding: 2px;
}
@media screen and (min-width:390px) and (max-width:860px) {
.skillTreeContainer {
	max-height: 300px;
}
}
.skillTreeGrid {
	display: grid;
	grid-template-columns: repeat(6, 171px);
	gap: 10px;
	grid-template-areas:
	"a1 b1 c1 d1 e1 f1"
	"a2 b2 c2 d2 e2 f2"
	"a3 b3 c3 d3 e3 f3"
	"a4 b4 c4 d4 e4 f4"
	"a5 b5 c5 d5 e5 f5";
	margin-right: 10px;
}
.skillTreeGrid div {
	background-color: rgba(128,128,128,0.33);
	color: white;
	padding: 6px;
    /*background-repeat: no-repeat;
    background-position: right top;
	background-origin: content-box;*/
	text-align: center;
	height: 148px;
	position: relative;
	margin: 0 0 37px 0;
}
.skillTreeGrid div:hover .skillButtons {
	visibility: visible;
}
div.skillActive {
	background-color: rgba(18,103,87,0.5);
}
div.skillMaxed {
	background-color: rgba(18,103,87,0.5);
}
.skillTreeGrid div:hover {
	outline: 2px solid rgba(54,255,255,0.66);
	background-color: rgba(113,169,189,0.33);
	background-image: url("./icons/skilltree_div_overlay.png");
	background-repeat: no-repeat;
}
.skillTreeGrid div.skillActive:hover, .skillTreeGrid div.skillMaxed:hover  {
	outline: 2px solid rgba(54,255,255,0.66);
	background-color: rgba(18,103,87,0.5);
}
div.skillLocked {
	background-color: rgba(64,64,64,0.33);
}
div.skillLocked img, div.skillLocked span.skillAllocated, div.skillLocked em.skillName {
	opacity: 0.33;
}
.skillIcon {
	margin: 0 auto;
}
.skillAllocated {
	display: block;
	line-height: 40px;
}
div.skillActive .skillAllocated {
	color: rgb(255,255,0)
} 
div.skillMaxed .skillAllocated {
	color: rgb(255,135,80);
}
.skillTreeReqUnlock {
	position: absolute;
	height: 22px;
	width: 175px;
	background-image: url("./icons/skilltree_req_unlock.png");
	background-repeat: no-repeat;
	background-position: center;
	top: -34px;
	left: -2px;
	display: block;
	opacity: 0.8;
}
.skillTreeReqLock {
	position: absolute;
	height: 22px;
	width: 175px;
	background-image: url("./icons/skilltree_req_lock.png");
	background-repeat: no-repeat;
	background-position: center;
	top: -34px;
	left: -2px;
	display: block;
	opacity: 0.8;
}
.skillName {
	background-color: rgba(32,32,32,0.33);
	display: block;
	padding: 10px;
	height: 48px;
	text-align: left;
}

.skillPoints {
	background-color: rgba(64,64,64,0.5);
	text-align: center;
	margin: 10px 10px 0 10px;
	padding: 16px 0 10px 0;
	color: white;
	font-size: 14pt;
}
.skillConfirm {
	justify-content: center;
	display: flex;
	flex-flow: row wrap;
}
.skillConfirm span {
	flex: 1 1 auto;
	background-color: rgba(113,169,189,0.33);
	display: inline-block;
	text-align: center;
	line-height: 48px;
	color: white;
	font-size: 13pt;
	margin: 10px 6px 0 6px;
	max-width: 292px;
}

/* Sig's Amazing CSS (cuz Dudley edited it) */


.editBox {
	width: 100%;
}
.editBox:hover{
	background-color:rgba(0,0,0,0.5);
	cursor:pointer;
	outline: 2px solid #30cdef;
}
.editBoxActive {
	position: relative;
	width: 100%;
}
.editBoxActive:hover {
	cursor:pointer;
}
input#editBoxInput {
	position: absolute;
	left: 0;
	text-align: right;
	background-color: #101317;
	color: white;
	cursor:pointer;
	font-family: ngs,sans-serif;
	font-size: 11pt;
	height: 28px;
	outline: 2px solid #30cdef;
	padding: 0 5px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.66), 1px -1px 0 rgba(0,0,0,0.66), -1px 1px 0 rgba(0,0,0,0.66), 1px 1px 0 rgba(0,0,0,0.66);
	width: 100%;
}
.editClass {
	position: relative;
	display: inline-block;
	width: 100%;
}
.editClass:hover{
	background-color:rgba(0,0,0,0.5);
	cursor:pointer;
	outline: 2px solid #30cdef;
}
.popup{
	display: flex;
	flex-wrap: wrap;
}
.popup2{
	z-index:999;
	position: absolute;
	background-color: rgba(128,128,128,0.9);
	max-width: 250px;
	min-width: 100px;
	padding: 20px;
}
.popup button{
	margin:5px;
	width:48px;
	font-size:12px;
	overflow:wrap;
	background-color:rgba(64,64,96,0.9);
	color:rgba(210,210,210,1);
}
button{
	padding:0px 3px 0px 3px;
	border: 1px black solid;
	background-color:gray;
	color:white;
    	font-family: ngs,sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
   	 -webkit-font-smoothing: antialiased;
	text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
}
.w-25{
	min-width:240px;
	max-width:24%;
	margin-right: 1%;
}
.w-75{
	min-width:75%;
	max-width:75%;
}
.table-responsive{
	color:rgba(220,220,220);
	overflow-y:hidden;
	overflow-x:auto;
}
.table-responsive table {
	background-color: rgba(20,29,40,0.66);
}
.table {
	border: 1px solid black;
	border-spacing:1px;
}
.table-padding{
	padding: 4px;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8));
	display: grid;
	justify-items: stretch;
	justify-content: stretch;    
	grid-template-columns: 1fr minmax(200px, 580px) 1fr;
	grid-template-rows: 10px minmax(0, 1fr) 10px;
	animation: fadeIn 0.15s;
}
  @keyframes fadeIn {
	0% {opacity:0;top:-30px;}
	100% {opacity:1;top:0;}
  }
.modal {
	outline: 0;
	grid-column: 2;
	grid-row: 2;
	filter: drop-shadow(0 20px 20px black);
  }
.boxModal {
	max-width: 580px;
	margin: 0 auto;
}
.modalItemListContainer {
		overflow-y: auto;
		overflow-x: hidden;
		margin: 10px 5px 0 0;
		padding: 2px;
		max-height: calc(90vh - 115px);
}
.webicon{
	color:maroon;
}
.webicon:hover{
	color:rgba(200,0,0,1);
	cursor:pointer;
}
.basichover:hover{
	cursor:pointer;
}
.modalCloseButton{
	float:right;
	color:#151f25;
}
.modalCloseButton:hover{
	color:rgba(200,0,0,1);
	cursor:pointer;
}
.failedInput{
	border: 1px solid rgba(200,0,0,1);
}
.submitting{
	border: 1px solid rgba(0,150,200,1);
    background: linear-gradient(-90deg, #124425,#000000,  #124425);
    background-size: 10% 400%;
    animation: submitgradient 1.5s ease infinite;
}

@keyframes submitgradient {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.submitbutton{
	width:32px;
	height:32px;
}
.submitbutton:hover{
	color:rgba(0,200,0,1);
	cursor:pointer;
}

/* Admin Panel */

.adminNav {
	font-size: 12pt;
	line-height: 1.5em;
}
p.adminNav hr {
	border-bottom: 1px solid white;
	margin: 10px 0;
}
.buttonLabel{
	border: 2px solid black;
	background:white;
	color:black;
}
.react-toggle {
	touch-action: pan-x;
  
	display: inline-block;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding: 0;
  
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }
  
  .react-toggle--disabled {
	cursor: not-allowed;
	opacity: 0.5;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
  }
  
  .react-toggle-track {
	width: 50px;
	height: 24px;
	padding: 0;
	border-radius: 30px;
	background-color: #4D4D4D;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
	background-color: #000000;
  }
  
  .react-toggle--checked .react-toggle-track {
	background-color: #19AB27;
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
	background-color: #128D15;
  }
  
  .react-toggle-track-check {
	position: absolute;
	width: 14px;
	height: 10px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	left: 8px;
	opacity: 0;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
  }
  
  .react-toggle-track-x {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	right: 10px;
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
	opacity: 0;
  }
  
  .react-toggle-thumb {
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	position: absolute;
	top: 1px;
	left: 1px;
	width: 22px;
	height: 22px;
	border: 1px solid #4D4D4D;
	border-radius: 50%;
	background-color: #FAFAFA;
  
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
	left: 27px;
	border-color: #19AB27;
  }
  
  .react-toggle--focus .react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 3px 2px #0099E0;
	-moz-box-shadow: 0px 0px 3px 2px #0099E0;
	box-shadow: 0px 0px 2px 3px #0099E0;
  }
  
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
	-webkit-box-shadow: 0px 0px 5px 5px #0099E0;
	-moz-box-shadow: 0px 0px 5px 5px #0099E0;
	box-shadow: 0px 0px 5px 5px #0099E0;
  }
  .testmode.react-toggle--checked .react-toggle-track {
	background-color: #00AADD;
  }
  .testmode.react-toggle--checked .react-toggle-track:hover {
	background-color: #00AADD;
  }
.addAug{
	height: 37px;
}
.databaseIcon{
	width:48px;
	height:48px;
	padding-right:8px;
	position:relative;
	top:16px;
}